{
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": "*.njk",
      "options": { "parser": "html" }
    },
    {
      "files": "*.html",
      "options": { "parser": "html" }
    },
    {
      "files": "*.css",
      "options": {
        "printWidth": 140,
        "singleQuote": false
      }
    }
  ]
}
